{% extends 'layout.html.twig' %}

{% block title %}
    Nouveau Titre
{% endblock %}

{% block body %}

{{ parent() }}

    <ol>
        <li>Nouveau contenu</li>
        <li>Nouveau contenu</li>
        <li>Nouveau contenu</li>
    </ol>
{% endblock %}
